$icomoon-font-path: "/assets/fonts" !default;

$sev-ddd-icon-olas: "\e90c";
$sev-ddd-icon-advanced: "\e900";
$sev-ddd-icon-intermediate: "\e901";
$sev-ddd-icon-beginner: "\e902";
$sev-ddd-icon-being-human: "\e903";
$sev-ddd-icon-case-studies: "\e904";
$sev-ddd-icon-development: "\e905";
$sev-ddd-icon-devops: "\e906";
$sev-ddd-icon-frontend: "\e907";
$sev-ddd-icon-other: "\e908";
$sev-ddd-icon-performance: "\e909";
$sev-ddd-icon-poison: "\e90a";
$sev-ddd-icon-site-building: "\e90b";

