page-detail {

  .session-info {

    ion-icon {
      margin-right: 1rem;

      &.level {
        font-size: 1.2rem;
      }
    }
  }

  .speakers {
    margin: 0 -16px;

    .speaker-bio {
      text-overflow: initial;
      white-space: initial;
      margin-top: 2rem;
    }
  }

  .add-to-calendar-button {
    label {
      display: block !important;
    }
  }

  .description,
  .speaker-bio p,
  .company-bio {
    white-space: pre-line;
    line-height: 2.1rem;
  }

  .company-logo {
    max-width: 50%;
  }

  .company-header,
  .company-name {
    width: 100%;
    margin-bottom: 2rem;
  }
}
