page-detail {

  .session-info {

    ion-icon {
      margin-right: 1rem;

      &.level {
        font-size: 1.2rem;
      }
    }
  }

  .speakers {
    margin: 0 -16px;

    .speaker-bio {
      text-overflow: initial;
      white-space: initial;
    }
  }

  .add-to-calendar-button {
    label {
      display: block !important;
    }
  }

  .description {
    white-space: pre-line;
    line-height: 2.1rem;
  }

  .company-name {
    width: 100%;
  }

  .company-logo {
    max-width: 50%;
  }
}
