<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="session">
    <h1 [innerHtml]="session.name"></h1>

    <ion-row class="session-info">
      <ion-col col-6 text-capitalize>
        <ion-icon name="{{'sev-ddd-icon-' + session.level.toLowerCase()}}" class="level"></ion-icon>
        {{session.level}}
      </ion-col>

      <ion-col col-6 text-capitalize>
        <ion-icon name="{{'sev-ddd-icon-' + session.target.toLowerCase().replace(' ', '-')}}"></ion-icon>
        {{session.target}}
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-6 text-capitalize>{{session.type}}</ion-col>
      <ion-col col-6 text-capitalize>{{session.venue}}</ion-col>
    </ion-row>

    <ion-list class="speakers">
      <ion-item *ngFor="let speaker of session.speakers">
        <ion-avatar item-left>
          <img [src]="speaker.avatar">
        </ion-avatar>

        <h2>{{speaker.name}}</h2>
        <p text-uppercase>{{speaker.nickname || speaker.position}}</p>
        <p class="speaker-bio" [innerHtml]="speaker.bio"></p>
      </ion-item>
    </ion-list>

    <button ion-button block color="dark" large class="add-to-calendar-button" (click)="addToCalendar()">
      <div>
        <label>Add to calendar</label>
        <ion-icon name="sev-ddd-icon-olas"></ion-icon>
      </div>
    </button>

    <ion-row>
      <p class="description" [innerHTML]="session.description"></p>
    </ion-row>

    <ion-row *ngIf="session.type === 'keynote'">
      <h2 text-uppercase class="company-header">The Company</h2>
      <h3 class="company-name">{{session.companyName}}</h3>
      <div>
        <img class="company-logo" [src]="session.companyLogo">
      </div>
      <p class="company-bio" [innerHtml]="session.companyBio"></p>
    </ion-row>
  </ng-container>

  <h3 *ngIf="errorMessage" text-center>{{errorMessage}}</h3>
</ion-content>
