page-day {

  ion-item-divider.item-divider {
    background-color: map_get($colors, header);
    font-weight: bold;
  }

  ion-item {
    border-top: 1px solid black;

    background-color: white !important;

    &[ddd-level='Beginner'] {
      background-color: map-get($colors, beginner) !important;
    }

    &[ddd-level='Intermediate'] {
      background-color: map-get($colors, intermediate) !important;
    }

    &[ddd-level='Advanced'] {
      background-color: map-get($colors, advanced) !important;
    }
  }

  .session-name {
    white-space: normal;
    margin-bottom: 20px;
  }

  .speaker-name {
    font-size: 1.2rem;
  }

  .venue {
    font-size: 1.2rem;
    color: map-get($colors, secondary-text);
  }
}
